<%- include('../partials/header') %> 

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
    <label>Airline: 
        <input type="text" name="airline">
    </label><br>
    <label>Airport: 
        <input type="text" name="airport">
    </label><br>
    <label>Flight #: 
        <input type="number" name="flightNo" min="1" max="9999" required>
    </label><br>
    <label>Departs: 
        <input type="date" name="departs">
    </label><br>
</form>

<%- include('../partials/footer') %> 