body {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 55%;
}

table, tr, td, th {
  border: 2px solid;
  border-collapse: collapse;
}

tr, th, td {
  width: 25%;
  text-align: center;
}

td {
  height: 50px;
}

label {
  font-size: 1.5em;
}

input, label, select {
  margin: 3%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
  align-items: center;
}

.row {
  flex-direction: row;
  justify-content: center;
}

#options > section, #booking {
  text-align: center;
}

#add-destination {
  width: 55%;
  text-align: center;
}
#add-destination form {
  width: 50%;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

